.topheader {
  position: fixed;
  background-color: cyan;
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.25rem;
}
.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 3.75rem;
}
.Menu-Horizontal li a {
  text-decoration: none;
  color: blue;
}
.Menu-Vertical {
  position: absolute;
  display: none;
  width: 12.5rem;
  list-style: none;
  padding: 0;
}
.Menu-Horizontal li a:hover {
  color: purple;
  font-weight: 700;
  text-decoration: underline;
  /*font-size: 20.313rem;*/
}
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.Menu-Vertical li a {
  display: block;
  text-decoration: none;
  padding: 0.625rem;
}

.seccion-creditos {
  padding: 3.75rem 1.25rem;
  background-color: white;
}

.cont-gral-creditos {
  display: flex;
  justify-content: space-between; /* espacio entre dos elementos*/
  align-items: center; /* centrado en forma vertical*/
  min-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem; /*espacio entre 2 divisones ya sea de texto o imagen*/
}

.cont-cred-texto {
  flex: 1; /*ayuda a ajustar*/
}
.cont-cred-texto h2 {
  color: black;
  text-decoration: underline;
  margin-bottom: 0.625rem;
  margin-top: 5.625rem;
}
.cont-cred-texto p {
  background-color: #e8ffd1; /* mismo color suave */
  color: #2b2b2b;
  line-height: 1.8;
  padding: 1rem 1.2rem;

  border-radius: 0.6rem;
  width: fit-content;
  max-width: 100%;
  margin: 1rem 0;
}
.cont-cred-img {
  flex: 1;
}
.cont-cred-img img {
  width: 100%;
  max-width: 31.25rem;
  /*extiende el borde del texto*/
  /*border-radius: 0.625rem;*/
}
.seccion-seguros {
  padding: 3.75rem 1.25rem;
  background-color: white;
}

.cont-gral-seguros {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.cont-seg-texto {
  flex: 1;
}
.cont-seg-texto h2 {
  color: rgb(189, 189, 233);
  line-height: 1.6;
  text-decoration: underline;
}

.cont-seg-texto p {
  color: #2b2b2b;
  line-height: 1.8;
}

.cont-seg-texto button {
  margin-top: 1.25rem;
  padding: 0.625rem 1.25rem;
  background-color: rgb(107, 181, 184);
  color: black;
  border: none;
  border-radius: 0.313rem;
  cursor: pointer;
}

.cont-seg-video {
  flex: 1;
}

.cont-seg-video iframe {
  width: 100%;
  max-width: 31.25rem;
}

.Seccion-formulario {
  background-color: cadetblue;
  padding: 2.5rem;
  border: 0.188rem;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
}
.cont-gral-formulario {
  background-color: cadetblue;
  padding: 1.875rem;
  border: 0.125rem solid;
  border-radius: 0.5rem;
  margin-bottom: 1.875rem;
  width: 100%;
  max-width: 31.25rem;
}
.campo {
  background-color: rgb(92, 170, 144);
  padding: 0.938rem;
  border: 1.313rem solid aliceblue; /*borde de los cuadros*/
  border-radius: 0.313rem;
  margin-bottom: 1.25rem;
}
.formulario label {
  display: block;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: rgb(184, 184, 235);
}
.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 0.5rem;
  border: 1.313rem solid aliceblue;
  border-radius: 0.313rem;
  box-sizing: border-box;
}
.lista-checkbox,
.lista-radio {
  list-style: none;
  padding: 0.5rem;
  border: 1px solid aliceblue;
  background-color: rgb(143, 143, 209);
}
.formulario buttom {
  background-color: rgb(223, 185, 159);
  padding: 0.625rem 1.25rem;
  color: antiquewhite;
  border: 0.125rem solid cyan;
  border-radius: 0.313rem;
  cursor: pointer;
}

/*pie de pagina*/
.seccion-footer {
  background-color: cyan;
  color: navy;
  padding: 2.5rem 1.25rem;
}
.cont-gral-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 75rem;
  margin: 0 auto;
  gap: 2.5rem;
}
.footer-info {
  flex: 1;
}
.footer-info h3 {
  color: cornflowerblue;
  margin-bottom: 0.938rem;
}
.footer-redes {
  flex: 1;
}
.footer-redes h3 {
  color: rgb(110, 42, 236);
  margin-bottom: 0.938rem;
}
.lista-redes {
  list-style: none;
  padding: 0;
}
.lista-redes li {
  margin-bottom: 0.5rem;
}
.lista-redes li a {
  text-decoration: none;
  color: cadetblue;
}
